.container-geral{
    display: flex;
    max-width: 80%;
    gap: 30px;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 85%;
}

.textarea-container textarea {
    width: 100%;
    max-width: 600px;
    margin: 15px 0;
    background-color: #f0f0f0;
    border: 1px solid #84c22d;
    font-size: 1rem;
    font-weight: bolder;
    resize: none;
    overflow-y: auto;
    max-height: 400px;
    padding: 20px;
    border-radius: 12px;
}

.textarea-container textarea::-webkit-scrollbar-track {
    background: #cacaca;
    border-radius: 0px 12px 12px 0px;
}

.textarea-container textarea::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0px 12px 12px 0px;
}

.textarea-container textarea::-webkit-scrollbar {
    width: 12px;
}

.textarea-container textarea::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.copy-btn {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: #218838;
}

.div-produtos{
    min-width: 30%;
}

.lateral-scroll {
    height: 80vh;
    overflow-y: auto;
}

h4 {
    margin-top: 25px;
    color: #333;
}
